@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Oswald";
  src: url(../fonts/oswald-Medium.ttf);
  font-weight: 500;
}