.main-header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  height: 127px;
  background-image: url(../img/headerShape.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  z-index: 1;
}

.brand-container {
  padding-left: 4.6%;

  a {
    display: block;
  }

  img {
    width: 159px;
  }
}

.main-nav {
  flex-grow: 1;
  padding: 0 5%;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    list-style-type: none;
    margin-top: 51px;
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: $secondaryColor;
    }
  }
}

.language {
  position: relative;
  margin-top: 51px;
  margin-right: 4.6%;

  .hidden {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    align-items: flex-end;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  }
}
